*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family: Arial, sans-serif;
  background:#f5f5f5;
}

/* Navbar */
.navbar{
  background:rgb(4, 5, 20);
}

.navbar-brand,
.nav-link{
  color:rgb(225, 224, 230) !important;
  font-weight:bold;
}

.nav-link:hover{
  color:rgb(233, 37, 11) !important;
}

/* Hero */
.hero{
  height:100vh;
  background:linear-gradient(to right, #000000, #434343);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding:20px;
}

.hero h1{
  font-size:60px;
  margin-bottom:15px;
}

.hero span{
  color:rgb(188, 207, 11);
}

.hero p{
  font-size:22px;
  margin-bottom:20px;
}

.btn-custom{
  background:orange;
  color:white;
  border:none;
  padding:12px 25px;
  border-radius:8px;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

.btn-custom:hover{
  background:darkorange;
  transform:scale(1.05);
}

/* Sections */
section{
  padding:80px 20px;
}

.section-title{
  text-align:center;
  margin-bottom:50px;
  font-size:40px;
  font-weight:bold;
}

/* About */
.about-box{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* Skills */
.skill-box{
  background:black;
  color:white;
  padding:15px;
  text-align:center;
  border-radius:10px;
  transition:0.3s;
  font-weight:bold;
}

.skill-box:hover{
  background:orange;
  transform:translateY(-5px);
}

/* Projects */
.card{
  border:none;
  border-radius:15px;
  transition:0.3s;
  height:100%;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.card img{
  width: 100%;
  height:250px;
  object-fit:contain ;
  border-radius: 10px;
}

/* Contact */
.contact-box{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  text-align:center;
}

/* Footer */
footer{
  background:black;
  color:white;
  text-align:center;
  padding:20px;
}

/* Dark Mode */
.dark-mode{
  background:#111;
  color:white;
}

.dark-mode .about-box,
.dark-mode .contact-box,
.dark-mode .card{
  background:#222;
  color:white;
}